body{
    background-color:white;
}
.navbar.header-section{background-color:#f2dddd;color:#fff;text-transform: uppercase;padding: 20px; margin-bottom: 50px;}
.about-section h1{color:#A1C7C2}
.about-section { padding: 50px;}
.left-section img{border-radius: 40vh;
    width: 80%;}
    .home{text-align: center;}