<div class="right-panel col-lg-11 col-md-11">
   <div class="panel show  col-lg-12 col-md-12" id="category">
        <h3>Add New category</h3>

       
    
          <div class="category">
           
            <label>Category Name</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter Product name" aria-label="product name">
            
          
          <label>Parent Category </label>
            <select class="custom-select form-select " aria-label="Default select example">
              <option selected>None</option>
              
            </select>

            <div class="upload-image col-lg-3 col-md-3">
                <img src="/images/add-thumbnail.png"/>
                <label for="inputField" class="btn btn-orange">Upload/Add image</label>
                <input type="file" id="inputField" style="display:none">

            </div>
        
            <div class="col-lg-3 col-md-3 ">
            <button type="submit" class="btn btn-primary btn-blue">Add new category</button>
            </div>
          
          
        </div>
    </div>
    
</div>