<div class="right-panel col-lg-11 col-md-11">
   <div class="add-panel col-lg-5 col-md-5" id="product">
        <h3>Add new product</h3>
          <div class="product">
           
            <label class="form-label">Product Name</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter item" aria-label="Search">
            
          
          <label class="form-label"> Category </label>
            <select class="custom-select form-select" aria-label="Default select example">
              <option selected>None</option>
              
            </select>
        
            <div class="col-lg-6 col-md-6 ">
            <button type="submit" class="btn btn-primary update-btn">Add new product</button>
            </div>
          
          
        </div>
      </div>

       <div class="show-panel col-lg-5 col-md-5" id="product">
        <h3>Add new product</h3>
          <div class="product">
           
            <label class="form-label">Product Name</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter item" aria-label="Search">
            
          
          <label class="form-label"> Category </label>
            <select class="custom-select form-select" aria-label="Default select example">
              <option selected>None</option>
              
            </select>
        
            <div class="col-lg-6 col-md-6 ">
            <button type="submit" class="btn btn-primary update-btn">Add new product</button>
            </div>
          
          
        </div>
      </div>
    
</div>