<div class="right-panel col-lg-11 col-md-11">
   <div class="add-panel col-lg-5 col-md-5" id="product">
        <h3>Add new product</h3>
          <div class="product">
           
            <label class="form-label">Product Name</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter item" aria-label="Search">

           
          <label class="form-label">Category Name </label>
            <select class="custom-select form-select " aria-label="Default select example">
              <option selected>None</option>
              
            </select>
 
            <div class="col-lg-6 col-md-6 ">
            <button type="submit" class="btn btn-primary update-btn">Add new product</button>
            </div>
          
          
        </div>
      </div>

 <div class="show-panel col-lg-7 col-md-7" id="product">
      
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Product Details</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product id</th>
                        <th>Product image</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Category</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Actions</th>

                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src=""/></td>
                        <td>lentils</td>
                        <td>yellow color pulses</td>
                        <td>veggies</td>
                        <td>25 euros</td>
                        <td>Instock</td>

                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src=""/></td>
                        <td>lentils</td>
                        <td>yellow color pulses</td>
                        <td>veggies</td>
                          <td>25 euros</td>
                        <td>Instock</td>

                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                       
                </tbody>
            </table>
        </div>
    </div>
</div>     
           
</div>  
