<div class="right-panel setting col-lg-11 col-md-11">

<div class="setting-menu setting-buttons col-lg-1 col-md-1 ">

   <button data-id="currency" class="button">Currency</button>
  <button data-id="language" class="button">Languges</button>
  <button data-id="store" class="button">Store</button>
  <button data-id="default-customer" class="button">Default Customer</button>
  <button data-id="default-pos-customer" class="button">Default POS Customer</button>
  <button data-id="price" class="button">Price and Tax</button>

 </div>
<div class="setting-content col-lg-11 col-md-11 ">
 <div class="panel show" id="currency"><p>Laptop, Earphone</p></div>
 <div class="panel" id="language"><p>Earphone, smart watch</p></div>
 <div class="panel" id="store"><p>Amazon, E-kart</p></div>
 <div class="panel" id="default-customer"><p>Laptop, Earphone</p></div>
 <div class="panel" id="default-pos-customer"><p>Earphone, smart watch</p></div>
 <div class="panel" id="price"><p>Amazon, E-kart</p></div>
</div>
</div>